# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build output
dist/
build/
.next/

# Logs
*.log

# Prisma
*.db

# Testing
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db